* text=auto eol=lf

*.conf text
*.gradle text
*.gradle.kts text
*.java text
*.js text
*.md text
*.properties text
*.py text
*.txt text
*.zest text
*.zst text

*.bat text eol=crlf
*.sh text
gradlew text

*.jar binary
